version = 0.1

extensions = ['chomp@0.1:footprint', 'chomp@0.1:npm']

default-task = 'test'

[server]
port = 8080
root = "."

[[task]]
name = 'bench'
deps = ['bench:serve', 'bench:run']

[[task]]
name = 'bench:serve'
run = 'chomp -c bench serve:all'

[[task]]
name = 'bench:run'
run = 'chomp -c bench :bench:*'

[[task]]
name = 'bench:clear'
run = 'rm -rf bench/results'

[[task]]
name = 'build'
targets = ['dist/es-module-shims.js', 'dist/es-module-shims.wasm.js']
deps = ['src/*.js', 'npm:install']
run = 'rollup -c'

[[task]]
name = 'footprint'
deps = ['dist/es-module-shims.js', 'dist/es-module-shims.wasm.js']
template = 'footprint'

[[task]]
name = 'test'
dep = 'test:'

[[task]]
name = 'test:#'
serial = true
deps = ['npm:install', 'dist/es-module-shims.js', 'dist/es-module-shims.wasm.js', 'test/test-#.html']
run = 'node test/server.mjs test-${{ MATCH }}'
