name: CI

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  test-firefox:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        firefox: [
          # '60.0', # modules support
          # '67.0', # import(), import.meta
          # '89.0'  # top-level await
          '107.0.1'
        ]
    name: Firefox Browser Tests
    steps:
      - uses: actions/checkout@v2
      - name: Setup Chomp
        uses: guybedford/chomp-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Node.js ${{ matrix.node }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      # - name: Clear Existing Firefox
      #   run: |
      #     rm -rf ~/.mozilla && sudo rm -rf /etc/firefox && sudo rm -rf /usr/lib/firefox
      #     sudo apt-get purge firefox
      - name: Setup Firefox ${{ matrix.firefox }}
        uses: browser-actions/setup-firefox@latest
        with:
          firefox-version: ${{ matrix.firefox }}
      - name: Chomp Test
        run: chomp test
        env:
          CI_BROWSER: /opt/hostedtoolcache/firefox/${{ matrix.firefox }}/x64/firefox
          CI_BROWSER_FLAGS: -headless

  test-chrome:
    runs-on: windows-latest
    strategy:
      matrix:
        chrome: [
          '695071', # ~September 2019
          '859178', # Mar 2021, Import Maps
          '913920', # August 2021, JSON modules + CSS modules
        ]
    name: Chrome Browser Tests
    steps:
      - uses: actions/checkout@v2
      - name: Setup Chomp
        uses: guybedford/chomp-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Node.js ${{ matrix.node }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Setup Chrome ${{ matrix.chrome }}
        uses: browser-actions/setup-chrome@latest
        with:
          chrome-version: ${{ matrix.chrome }}
      - name: Chomp Test
        run: chomp test
        env:
          CI_BROWSER: C:\hostedtoolcache\windows\chromium\${{ matrix.chrome }}\x64\chrome.exe
          CI_BROWSER_FLAGS: 
