name: CI

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  test-firefox:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        firefox: [
          '60.0', # modules support
          '67.0', # import(), import.meta
          '89.0'  # top-level await
        ]
    name: Firefox Browser Tests
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js ${{ matrix.node }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Setup Firefox ${{ matrix.firefox }}
        uses: browser-actions/setup-firefox@latest
        with:
          firefox-version: ${{ matrix.firefox }}
      - name: npm install
        run: npm install
      - name: npm run build
        run: npm run build
      - name: npm run test
        run: npm run test
        env:
          CI_BROWSER: /opt/hostedtoolcache/firefox/${{ matrix.firefox }}/x64/firefox
          CI_BROWSER_FLAGS: -headless

  test-chrome:
    runs-on: windows-latest
    strategy:
      matrix:
        chrome: [
          'stable'
        ]
    name: Chrome Browser Tests
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js ${{ matrix.node }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Setup Chrome ${{ matrix.chrome }}
        uses: browser-actions/setup-chrome@latest
        with:
          chrome-version: ${{ matrix.chrome }}
      - name: Save Chrome Path
        run: where chrome > browser.txt
      - name: Set Chrome Path to Env Var
        run: set /P CI_BROWSER=< browser.txt
      - name: npm install
        run: npm install
      - name: npm run build
        run: npm run build
      - name: npm run test
        run: npm run test
        env:
          CI_BROWSER_FLAGS: --headless --screenshot
    